<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Imappgine</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" integrity="sha256-CNwnGWPO03a1kOlAsGaH5g8P3dFaqFqqGFV/1nkX5OU=" crossorigin="anonymous" />
    <!-- Custom styles for this template -->
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Laravel Course</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Usuarios <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

     <!-- Begin page content -->
    <main role="main" class="container">
    	 <br>
            <br>
            <br>
            <br>
      <div id="imapp" class="container">
      	<h4>¿Has trabajado con Vue?</h4>
      	{{ $data }}
      	
      	<div>
      		<div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="radio">
			      		<label class="radio-inline">
			      			<input type="radio" v-model="vue.exp" v-bind:value="true">Sí
			      		</label>
			      		<label class="radio-inline">
			      			<input type="radio" v-model="vue.exp" :value="false">No
			      		</label>
			      	</div>
                </div>
            </div>
            <div v-show="vue.exp">
            	<div class="row">
	                <div class="col-md-6 col-sm-6 col-xs-6">
	                    <div class="form-group has-error">
	                        <label for="PrimerNombre" class="is-invalid">Cuantos años de experiencia tienes?</label>
	                        <input v-model="vue.years" type="number" class="form-control is-invalid">
	                    </div>
	                </div>
	            </div>
	            <div class="row" v-if="vue.years < 2">
	                <div class="col-md-6 col-sm-6 col-xs-6">
	                    <div class="form-group has-danger" >
	                    	<label for="motivacion">Que te motivo a aprender vue</label>
	                        <!-- <textarea v-model="vue.description"  v-bind:class="'form-control' + (descriptionErrors != '' ? ' is-invalid' : '')" rows="5" ></textarea>-->
	                        <!-- <textarea v-model="vue.description" class="form-control" :class="{'is-invalid' : descriptionErrors != ''}" rows="5" ></textarea> -->
	                        <!-- <textarea v-model="vue.description" :class="['form-control', {'is-invalid' : descriptionErrors != ''}]" rows="5" ></textarea> -->
	                        <!-- <textarea v-model="vue.description" :class="descriptionFieldClasses" rows="5" ></textarea> -->
	                        <!-- <textarea v-model="vue.description" class="form-control" :style="{color: '#a94442'}" rows="5" ></textarea> -->
	                        <textarea v-model="vue.description" class="form-control" :style="[descriptionBasicStyle, descriptionErrorStyle]" rows="5" ></textarea>

	                        <p v-if="descriptionErrors != ''" class="help-block">{{descriptionErrors}}</p>
	                    </div>
	                </div>
	            </div>
	            <!-- <div class="row" v-if="vue.years >= 2"> -->

	            <div class="row" v-else>
	                <div class="col-md-6 col-sm-6 col-xs-6">
	                    <div class="form-group">
	                    	<label for="motivacion">Cuentanos tu experiencia</label>
	                        <textarea v-model="vue.description" rows="5"class="form-control"></textarea>
	                    </div>
	                </div>
	            </div>
	            <div >
	            	<!-- <p v-if="vue.description.trim() == ''" class="help-block">El campo es obligatorio</p>
	            	<p v-else-if="vue.description.trim().length > 20" class="help-block">Maximo 20 caracteres</p> -->
				</div>
            </div>
      		
      	</div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Imappgine.co</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script type="text/javascript">
        var vmMostrar = new Vue({
        	el: "#imapp",
        	data: {
        		vue:{
        			exp: null,
        			years: 0,
        			description: '',
        		}
        	},
        	computed:{
        		descriptionErrors: function(){
        			var valor = this.vue.description.trim();
        			if (valor == '') {return 'El campo es obligatorio';}
        			if (valor.length > 5) {return 'Maximo 5 caracteres';}
        			if (valor.length < 3) {return 'Minimo 3 caracteres';}
        			return '';
        		},
        		descriptionFieldClasses: function(){
        			return[
        				'form-control',
        				{ 'is-invalid': this.descriptionErrors }
        			];
        		},
        		descriptionErrorStyle: function(){
        			if (this.descriptionErrors) {
        				return {'color': '#a94442'};
        			}
        			return {};
        		},
        		descriptionBasicStyle: function(){
        			return {'color': '#44a942', 'font-size': '22px'};
        		}
        	}
        });
    </script>
  </body>
</html>