<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Imappgine</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" integrity="sha256-CNwnGWPO03a1kOlAsGaH5g8P3dFaqFqqGFV/1nkX5OU=" crossorigin="anonymous" />
    <!-- Custom styles for this template -->
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Laravel Course</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Usuarios <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

     <!-- Begin page content -->
    <main role="main" class="container">
    	 <br>
            <br>
            <br>
            <br>
      <div id="imapp" class="container">
      	

        <h4>Lista con Vue</h4>
      	<!-- <ul>
          <li v-for="tarea in tareas">{{ tarea }}</li>
          <li v-for="(tarea, index) of tareas">{{ index + 1}} :  {{tarea }}</li>
        </ul>-->
        <ul> 
          <li v-for="(item, index) of tareas">
            <del v-if="!item.pendiente">{{ item.title }}</del>
            <template v-else>{{ item.title }}</template>
            
          </li>
        </ul>

        <!-- <template v-for="(tarea, index) of tareas">
          <p>{{ index + 1}} :  {{tarea }}</p><br>
        </template> -->
      <h4 v-if="tareasPendientes.length">Lista pendientes</h4>      		
      <ul>
        <li v-for="pendiente of tareasPendientes">{{ pendiente.title }}</li>
      </ul>
      <!-- <form @submit="createTask"> -->
      <form @submit="createTask">
        <h4>Usuario</h4>          
        <ul>
          <li v-for="(value, key, index) of user">{{ key }} : {{ index}} : {{ value }}</li>
        </ul>
        <!-- <input type="text" class="form-control" v-model="new_task" v-on:keyup.enter="createTask"> -->
          <input type="text" class="form-control" v-model="new_task" >
          <button class="btn btn-success" v-on:click="createTask(true, $event)" >Crear tarea echa</button>
          <button class="btn btn-danger" @click="createTask(false, $event)" >Crear tarea pendiente</button>
        
      </form></div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Imappgine.co</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script type="text/javascript">
        var listarVm = new Vue({
          el: "#imapp",
          data: {
              // tareas: [ 
              //   'Aprender Vue',
              //   'Aprender Laravel',
              //   'Aprender React'
              // ],
              new_task: '',
              tareas: [ 
                {
                  title: "Aprender Vue",
                  pendiente: false,
                },
                {
                  title: "Aprender laravel",
                  pendiente: false,
                },
                {
                  title: "Aprender react",
                  pendiente: false,
                }
              ],
              user: {
                nombre: 'daniel',
                apellido: 'forero',
                edad: 24
              }
          },
          computed: {
            tareasPendientes: function () {
              return this.tareas.filter(function(item){
                  return item.pendiente;
              });    
            }
          },
          methods:{
            createTask: function (pending, event) {
              event.preventDefault();
              this.tareas.push({
                    title: this.new_task,
                    pendiente: pending
              }); 
              this.new_task = ''
            }
          }
        });
    </script>
  </body>
</html>