<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Imappgine</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" integrity="sha256-CNwnGWPO03a1kOlAsGaH5g8P3dFaqFqqGFV/1nkX5OU=" crossorigin="anonymous" />
    <!-- Custom styles for this template -->
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Laravel Course</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Usuarios <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <!-- Begin page content -->
    <main role="main" class="container">
       <div id="components-demo">
         <button-counter></button-counter>
         <button-counter></button-counter>
         <!-- <blog-post title="My journey with Vue"></blog-post>
         <blog-post title="Blogging with Vue"></blog-post>
         <blog-post title="Why Vue is so fun"></blog-post> -->
         <br>

         <!-- <blog-post v-for='blog in blogs'
                    v-bind:key='blog.id'
                    v-bind:title='blog.title'
                    ></blog-post> -->
          <!-- <blog-post v-for='blog in blogs'
                    v-bind:key='blog.id'
                    v-bind:post='blog'
                ></blog-post> -->


         <!-- <div :style="{ fontSize: postFontSize + 'em' }">
           <blog-post v-for='blog in blogs'
                    v-bind:key='blog.id'
                    v-bind:post='blog'
                    v-on:agrandar-texto="postFontSize += $event"
                ></blog-post>
         </div> -->

         <!-- si es un metodo -->
         <div :style="{ fontSize: postFontSize + 'em' }">
           <blog-post v-for='blog in blogs'
                    v-bind:key='blog.id'
                    v-bind:post='blog'
                    v-on:agrandar-texto="onEnlargeText"
                ></blog-post>
         </div>
         <custom-input v-model="searchText"></custom-input>
         {{searchText}}


         <alert-box>sfbsdahbfhsbd hvbj</alert-box>
       </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Imappgine.co</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.4/numeral.min.js"></script>
    <script type="text/javascript">
      

      Vue.component('button-counter',{
        data:function(){
          return{
            count: 0
          }
        },
        template:'<button v-on:click="count++">Haz echo click {{count}} veces</button>'
      });

      // Vue.component('blog-post',{
      //   props:['title'],
      //   template: '<h3>{{ title }}</h3>'
      // });

      Vue.component('blog-post',{
        props:['post'],
        template: `
          <div class="blog-post">
            <h3>{{ post.title }}</h3> - <span>{{ post.fecha }}</span><hr>
            <button v-on:click="$emit('agrandar-texto', 0.1)">Agrandar letra</button>
            <div v-html="post.content"></div>
          </div>
        `
      });
      Vue.component('custom-input', {
        props: ['value'],
        template: `
           <input v-bind:value="value"
             v-on:input="$emit('input', $event.target.value)"
           >
        `
      });

      Vue.component('alert-box',{
        template:`
           <div class =" alert alert-error "> 
            <strong> Error! </strong> 
            <slot> </slot> 
          </div> 
        `
      });
      var vm = new Vue({
        el:"#components-demo",
        data:{
          searchText: '',
          postFontSize: 1,
          blogs: [
            {id:1, title:"Blog 1", content:"<h3>dsfnsdafnsjdaf sdfasad 3143</h3>", fecha:"1235/32/23"},
            {id:2, title:"Blog 2", content:"<h3>dsfnsdafnsjdaf sdfasad 3143</h3>", fecha:"1235/32/23"},
            {id:3, title:"Blog 3", content:"<h3>dsfnsdafnsjdaf sdfasad 3143</h3>", fecha:"1235/32/23"},
            {id:4, title:"Blog 4", content:"<h3>dsfnsdafnsjdaf sdfasad 3143</h3>", fecha:"1235/32/23"},
          ]
        },
        methods:{
          onEnlargeText: function (enlargeAmount) {
            this.postFontSize += enlargeAmount
          }
        }
      });
    </script>
  </body>
</html>